<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
             <center><div class='title'>CHECK IF YOU NEED NEW TIRES.</center> </div>
                <div class='title'><center>TAKE A CLOSE UP PICTURE OF YOUR TIRE TREAD WITH THE CAMERA FLASH ON.</center> </div>
                <div class='content'>
                    <center><div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'></center>
                    </div>
                    <center><button class='choose-file-button' type='button' onclick='showPicker()'>1. Take Picture or Select Image</button></center>
                    <div class='upload-label'>
                      <center><label id='upload-label'>No file chosen</label></center>
                    </div>
                    <div>
                        <center><img id='image-picked' class='no-display' alt='Chosen Image' height='200'></center>
                    </div>
                    <div class='analyze'>
                        <center><button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>2. Check Tire Condition</button></center>
                    </div>
                    <div class='result-label'>
                        <center><label id='result-label'></label></center>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
