body {
    background-color:#000000 ; 
}

.no-display {
    display: none;
}

.center {
    min-height: 50px;
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    min-height: 50px;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
    color:#ffffff ;
}

.content {
    min-height: 100px;
    margin-top: 1.5em;
}

.analyze {
    min-height: 100px;
    margin-top: 1.5em;
}

.upload-label {
    min-height: 100px;
    margin-top: 0.5em;
    padding: 10px;
    font-size: 12px;
    color:#ffffff ;
    
}

.result-label {
    min-height: 100px;
    margin-top: 0.5em;
    padding: 10px;
    font-size: 30px;
    color:#ffffff ;
}

#.center, #.title, #.content, #.analyze, #.upload-label, #.result-label{
    margin-left: 10%;
    margin-right: 10%;    
}    
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

button.choose-file-button {
  width: 300px;
  height: 60px;
  border: solid 1px #1E90FF;
  border-radius: 18px;
  background-color: #1E90FF;
  font-size: 15px;
  color: #ffffff;
}

button.analyze-button {
    width: 300px;
    height: 60px;
    border: solid 1px #1E90FF;
    border-radius: 18px;
    background-color: #1E90FF;
    font-size: 15px;
    color: #ffffff;
}

button:focus {outline:0;}
